@use "variables";

#counters {
	@include variables.flexPositioning(column, initial, initial);

	.counterBox {
		width: 100%;
		padding: 10px;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 1px;
		p {
			padding: 10px;
		}
		.counter {
			font-weight: 600;
			border-radius: 10px;
			background: variables.$box-light-color;
			color: variables.$font-dark-color;
		}
	}
}
